:root {
  --primary-one: hsl(21, 71%, 46%);
  --primary-two: hsl(228, 28%, 16%);
  --neutral-light-blue: hsl(228, 28%, 39%);
  --neutral-block1: hsl(26, 65%, 90%);
  --neutral-block2: hsl(172, 42%, 72%, 33%);
  --neutral-lighr-green: hsl(172, 42%, 72%);
}
body,
p,
h1,
ul,
li,
blockquote,
h1,
h2 {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Maven Pro", sans-serif;
  color: var(--primary-two);
}
html,
body {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-two);
}
img {
  max-width: 100%;
  display: block;
}
h1 {
  font-size: 2.5em;
  font-family: "Righteous", cursive;
}

/* *estrutura */
.estrutura {
  display: grid;
  grid-template-columns: auto;
  margin: 0 auto;
}

/* *header  */
.header {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 30px;
}
.logo {
  max-width: 160px;
}
.header nav ul {
  display: flex;
  flex: wrap;
}
.header nav a {
  display: block;
  padding: 10px;

  font-size: 1em;
  transition: all 0.3s;
}
.header li + li {
  margin-left: 30px;
}
.header nav a:hover {
  color: white;
  background-color: var(--primary-two);
  box-shadow: 0px 7px 50px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}
.inf {
  margin: 0 10px 0 30px;
  width: 140px;
  background-color: var(--primary-one);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: bold;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 7px 50px rgba(0, 0, 0, 0.2);
}
.inf:hover {
  background-color: var(--primary-two);
}
.header .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 7px 50px rgba(0, 0, 0, 0.2);
}

/* *MAIN  */

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;

  margin-top: 30px;
}
.title {
  align-self: center;
  margin: 0 auto;
}
.text-1 {
  font-family: "Righteous", cursive;
  font-size: 1.375em;
  letter-spacing: -0.015em;
}
.text-2 {
  font-family: "Righteous", cursive;
  font-size: 3.5em;
  text-transform: uppercase;
  line-height: 65px;
}
.text-2 span {
  text-transform: uppercase;
  font-family: "Righteous", cursive;
  color: var(--neutral-light-blue);
}

.subtitle {
  font-size: 1.375em;
  margin-top: 20px;
}
.inf2 {
  width: 218.78px;
  height: 45px;
  font-size: 1.125em;
  margin: 30px 0;
  border: none;
}
.bg {
  margin: 0 auto;
  align-self: center;
}

/* *SOBRE  */
.sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 90px;
  justify-items: center;
}
.sobre img {
  max-width: 500px;
  margin-left: 30px;
}
.textos-sobre {
  max-width: 700px;
  align-self: center;
}
.textos-sobre h1 {
  font-size: 1.875em;
  font-family: "Righteous", cursive;
  letter-spacing: -0.015em;
}
.textos-sobre h2 {
  font-size: 2.5em;
  font-family: "Righteous", cursive;
  color: var(--neutral-light-blue);
  margin: 5px 0 30px 0;
}
.textos-sobre p {
  font-size: 1.375em;
}

/* *CONTAGIO  */
.contagio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 90px;
  justify-items: center;
}
.textos-contagio {
  max-width: 550px;
}
.textos-contagio h1 {
  letter-spacing: -0.015em;
  margin-bottom: 30px;
}
.textos-contagio p {
  font-size: 1.375em;
}
.contagio-list li {
  font-size: 1.375em;
  padding-left: 10px;
  list-style-position: inside;
  list-style-image: url(/imagens/Ellipse4.svg);
}
.imgs-contagio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: center;
}
.numbers {
  max-width: 48px;
  justify-self: center;
  margin-bottom: 30px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.contagio-imgs {
  max-width: 180px;
  justify-self: center;
  margin-bottom: 20px;
}
.desc {
  font-size: 1.125em;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

/* *SINTOMAS */
.sintomas {
  text-align: center;
  margin-bottom: 90px;
}
.sintomas h1 {
  margin-bottom: 30px;
}
.grade-sintomas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "s1 s2"
    "s3 s4";
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5625em;
}
.sintoma1 {
  grid-area: s1;
  background: var(--neutral-block1);
  border-radius: 101px 0px 0px 0px;
  padding-bottom: 30px;
}
.grade-sintomas img {
  margin: 0 auto;
  padding: 30px 0;
}
.sintoma2 {
  grid-area: s2;
  background: var(--neutral-block2);
  padding-bottom: 30px;
}
.sintoma3 {
  grid-area: s3;
  background: var(--neutral-block2);
  padding-bottom: 30px;
}
.sintoma4 {
  grid-area: s4;
  background: var(--neutral-block1);
  border-radius: 0 0 101px 0;
  padding-bottom: 30px;
}

/* *PREVENÇAO */

.prevencao {
  margin: 30px 0;
  margin-bottom: 90px;
}
.prevencao h1 {
  text-align: center;
  text-transform: uppercase;
}
.boxes {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  margin: 30px 30px 10px 30px;
  justify-content: space-evenly;
  text-align: center;
}

.box-1 {
  background: var(--neutral-light-blue);
  border-radius: 50px;
  padding: 10px;
  gap: 10px;
  max-width: 200px;
}
.box-1:hover {
  background: var(--neutral-block2);
}
.box-1 img {
  width: 160px;
  height: 160px;
  max-width: 160px;
}
.text-box {
  margin-top: 0px;
  font-size: 1.25em;
  letter-spacing: 0.02em;
}

.text-box span {
  color: var(--primary-one);
}

/* *FOOTER  */

.footer {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 30px 30px;
  background-color: var(--primary-two);
  color: var(--neutral-block1);
}
